.ex-1-square{
    transition: background-color 5s;
}
.ex-1-square:hover{
    background-color: red;
}
.ex-2-square{
    transition: width 5s;
}
.ex-2-square:active{
    width: 1000px;
}
.ex-3-square{
    transition: border-radius 5s;
}
.ex-3-square:hover{
    border-radius: 50%;
}
.ex-4-square{
    transition: opacity 5s;
}
.ex-4-square:hover{
    opacity: 0;
}
.ex-5-square{
    transition: width 3s height 3s;
}
.ex-5-square:hover{
    width: 100px;
    height: 100px;
}
.ex-5-square:active{
    width: 30px;
    height: 30px;
}
.ex-6-img:hover{
    filter: grayscale(100%);
}
.ex-7-img{
    transition: filter 5s;
}
.ex-7-img:hover{
    filter: grayscale(100%);
}
.ex-8-img{
    transition: border-radius 3s, filter 3s;
}
.ex-8-img:hover{
    border-radius: 10%;
    filter: invert(100%) brightness(0.30);
}
.ex-9-img{
    transition: border-radius 3s, filter 3s, transform 5s;
}
.ex-9-img:hover{
    border-radius: 30%;
    filter: invert(80%) grayscale(100%);
    transform:scale(1.5, 1.5) ;
}